body{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 0px;
}
header{
    background:rgb(183, 183, 83);
    text-align: center;
    padding-left: 50px; 
    border: black solid 4px;
    border-style: inset;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
}
.sidebar {
  width: 100px;
  background: forestgreen;
  height: 100vh;   /* <- too short */
  padding-right: 60px;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar a{
    display: block;
    color:black;
    padding: 10px;
    text-decoration: none;
}
.sidebar a:hover{
    background: lightskyblue;
}
.content {
    margin-left: 170px;
    padding-left: 0px;
   
}
.menuitem{
    border-bottom: 10px;
    padding-left: 20px ;
}
hr{
    border: orange solid 3px;
}
.box {
  border: 2px solid grey;    
  border-radius: 10px;       
  padding: 20px;           
  margin-bottom: 20px;       
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
  background: yellow;         
  max-width: 400px; 
  display: block; 
 
      
}
#div{
    parent: none;
}